section.advantage.menu__section(data-article="advantage")
	.container
		h3.advantage__title= content.advantages.title
		.advantage__list
			each object,i in content.advantage
				.advantage__item
					span.advantage__subtitle= object["title"]
					- if(i == 2) {
						p.advantage__text= object["text"]
						p.advantage__text= object["text2"]
						p.advantage__text= object["text3"]
					- } else {
						p.advantage__text= object["text"]
					- }
		.advantage__order
			.advantage__price= content.advantages.price
				span.advantage__price--small= content.advantages.priceSmall
				+icon('euro')
			button.g-btn.advantage__btn(data-remodal-target="order")= content.about.btnOrder