footer.footer.menu__section(data-article="footer")
	.footer__left
		iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A76828a002ab8bb939b8e2a05c5c1b02803047d534559c5e22823933ed93780aa&lang=ru_RU&scroll=true&source=constructor', width='100%', height='100%', frameborder='0')
	.footer__right
		h3.footer__title= content.footer.title
		.footer__contacts
			.footer__place
				+icon('place')
				span.footer__text= content.footer.place
			.footer__phone
				+icon('phone')
				a(href="tel:+74952680658")= content.header.phone
			.footer__mail
				+icon('mail')
				a(href="mailto:mf@air-bake.ru")= content.header.mail
		.footer__social
			each val in ['inst','vk','fb','youtube']
				a(href="#")
					+icon(val)
		h4.footer__subtitle= content.footer.subtitle
		form.footer-form
			input.footer-form__input(type="text" name="topic" id="topic" placeholder="тема сообщения" required)
			.footer-form__row
				input.footer-form__input(type="text" name="name" id="name" placeholder="ваше имя" required)
				input.footer-form__input(type="text" name="email" id="email" placeholder="ваш email" required)
			textarea.footer-form__textarea(name="message" id="message" placeholder="ваше сообщение" required)
			.consult-form__checkbox-block.footer-form__checkbox-block
				input.consult-form__checkbox(type="checkbox" name="check2" id="check2" required)
				label.consult-form__label(for="check2")= content.consult.label
					a.consult-form__link(href="#")= content.consult.btn
			input.g-btn.g-btn--form.footer-form__submit(type="submit" value="Отправить")